@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jaro:opsz@6..72&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root {
    height: 100%;
    width: 100%;
}

body {
    background-color: #343a40;
    height: 100dvh;
    width: 100dvw;
    overflow: hidden auto;
}

.apis-window {
    height: calc(100% - 12.5rem);
}

.loader {
    width: 25px;
    height: 25px;
    border: 5px solid #FFF;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@media (max-width: 831px) {
    .apis-window {
        height: calc(100% - 13.5rem);
    }
}

@media (max-width: 429px) {
    .apis-window {
        height: calc(100% - 14.9rem);
    }
}

@media (max-width: 319px) {
    .apis-window {
        height: calc(100% - 16.2rem);
    }
}

@media (max-width: 236px) {
    .apis-window {
        height: calc(100% - 17.5rem);
    }
}